<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{layout/header :: headerFragment}"></div>
<body>
<div class="container">
    <a th:href="@{/}" style="text-decoration:none; color:inherit"><h1>스프링 부트로 시작하는 웹 서비스</h1></a>
    <div class="jumbotron"> <h1>행사 예약 서비스</h1>
        <p class="lead">티켓 예약</p> <p>
            <a class="btn btn-lg btn-secondary" href="">티켓 예약</a>
            <a class="btn btn-lg btn-secondary" href="">예약 목록</a> </p>
        <p class="lead">티켓 결제</p> <p>
            <a class="btn btn-lg btn-dark" href="">결제 내역</a>
            <a class="btn btn-lg btn-dark" href="">환불 내역</a>
        </p>
        <p>
            <a class="btn btn-info active" href="/events">돌아가기</a>
        </p>
    </div>
</div>
</body>
<footer th:insert="~{layout/footer :: footerFragment}"></footer>
