<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{events/layout/header :: headerFragment}"></div>

<h1>행사 등록</h1>

<div class="col-md-12">
  <div class="col-md-4">
    <form role="form">
      <div class="form-group">
        <label for="reservationId">예약 번호</label>
        <input class="form-control" id="reservationId" th:value = "${reservation.id}" readonly/>
      </div>
      <div class="form-group">
        <label>구매 수량</label>
        <input class="form-control" type="text" th:value = "${reservation.price}" readonly/>
      </div>
      <div class="form-group">
        <label>구매 개수</label>
        <input class="form-control" type="number" th:value = "${reservation.amount}" readonly/>
      </div>
      <div class="form-group">
        <label>총 가격</label>
        <input class="form-control" id="total" th:value = "${reservation.total}" readonly/>
      </div>
      <div class="form-group">
        <label>결제 수단</label>
          <select class="form-control" id="payGroup">
            <option th:each="PayGroupValue : ${T(com.dunowljj.book.domain.events.ticket.PayGroup).values()}"
                    th:value="${PayGroupValue.name()}"
                    th:text="${PayGroupValue.name()}">
            </option>
          </select>
      </div>
    </form>
    <a th:href="@{/events/ticket/reserveList}" role="button" class="btn btn-secondary">돌아가기</a>
    <button type="button" class="btn btn-primary" id="btn-ticket-pay">결제하기</button>
  </div>
</div>

<div th:replace="~{events/layout/ticket-footer :: footerFragment}" ></div>
</html>







































