<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{events/layout/header :: headerFragment}"></div>

<h1>행사 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form role="form">
            <div class="form-group">
                <label for="eventId">행사 번호</label>
                <input class="form-control" id="eventId" th:value = "${event.id}" readonly/>
            </div>
            <div class="form-group">
                <label>행사명</label>
                <input class="form-control" type="text" th:value = "${event.name}" readonly/>
            </div>
            <div class="form-group">
                <label>행사장</label>
                <input class="form-control" type="number" th:value = "${event.hallId}" readonly/>
            </div>
            <div class="form-group">
                <label>행사 분야</label>
                <input class="form-control" th:value = "${event.field}" readonly/>
            </div>
            <div class="form-group">
                <label>행사 설명</label>
                <textarea class="form-control" th:text = "${event.detail}" readonly/>
            </div>
            <div class="form-group">
                <label for="price">입장권 가격</label>
                <input class="form-control" id="price" type="number" th:value = "${event.price}" readonly/>
            </div>
            <div class="form-group">
                <label>모집 인원</label>
                <input class="form-control" th:value = "${event.recruitAmount}" readonly/>
            </div>
            <div class="form-group">
                <label>행사 시작일</label>
                <input class="form-control" type="datetime-local" th:value = "${event.startDate}" readonly/>
            </div>
            <div class="form-group">
                <label>행사 종료일</label>
                <input class="form-control" type="datetime-local" th:value = "${event.endDate}" readonly/>
            </div>
            <div class="form-group">
                <label>모집 시작일</label>
                <input class="form-control" type="datetime-local" th:value = "${event.recruitStartDate}" readonly/>
            </div>
            <div class="form-group">
                <label>모집 마감일</label>
                <input class="form-control" type="datetime-local" th:value = "${event.recruitEndDate}" readonly/>
            </div>
            <div class="form-group">
                <label>예약 날짜</label>
                <input class="form-control" id="reservationDate" type="datetime-local" />
            </div>
            <div class="form-group">
                <label for="amount">티켓 예매 수량</label>
                <input class="form-control" id="amount" type="number" />
            </div>
        </form>
        <a th:href="@{/events/ticket/list}" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-ticket-reserve">예약</button>
    </div>
</div>

<div th:replace="~{events/layout/ticket-footer :: footerFragment}" ></div>
</html>







































