<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layout/header :: headerFragment}"></div>
<body>
<div class="container">
    <div class="jumbotron"> <h1>행사 예약 서비스</h1>
        <p class="lead">행사 예약</p> <p>
            <a class="btn btn-lg btn-secondary" href="/members/new">행사 예약</a>
            <a class="btn btn-lg btn-secondary" href="/members">행사 목록</a> </p>
        <p class="lead">행사 결제</p> <p>
            <a class="btn btn-lg btn-dark" href="/items/new">결제 내역</a>
            <a class="btn btn-lg btn-dark" href="/items">환불 내역</a> </p>
    </div>
</div>
</body>
<footer th:insert="~{layout/footer :: footerFragment}"></footer>
