<div th:replace="~{events/layout/header :: headerFragment}"></div>

<h1>행사장 등록</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form role="form">
            <div class="form-group">
                <label for="name">행사장 이름</label>
                <input type="text" class="form-control" id="name" placeholder="제목을 입력하세요"/>
            </div>
            <div class="form-group">
                <label for="capacity">수용 인원</label>
                <input type="number" class="form-control" id="capacity" placeholder="작성자를 입력하세요"/>
            </div>
        </form>
        <a th:href="@{/events/hall/}" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-hall-save">등록</button>
    </div>
</div>

<div th:replace="~{events/layout/hall-footer :: footerFragment}"></div>
