<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{layout/header :: headerFragment}"></div>
<body>
<div class="container">
    <a th:href="@{/}" style="text-decoration:none; color:inherit"><h1>스프링 부트로 시작하는 웹 서비스</h1></a>
    <div class="jumbotron"> <h1>행사장 등록 서비스</h1>
        <p class="lead">관리자 전용</p> <p>
            <a class="btn btn-lg btn-secondary" href="/events/hall/save">행사장 등록</a>
            <a class="btn btn-lg btn-secondary" href="/events/hall/list">행사장 목록</a>
        </p>
        <p>
            <a class="btn btn-info active" href="/events">돌아가기</a>
        </p>
    </div>
</div>
</body>
<footer th:insert="~{layout/events-footer :: footerFragment}"></footer>
